.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  background-color: var(--black);
  height: 55px;
  align-items: center;
  padding: 0 35px;
}

.header__logo {
  font-size: 22px;
  font-weight: bold;
}

.header__settings {
  color: #fff;
  width: 25px;
  height: 25px;
}
